.main-location-container {
  position: relative;
}

.location-container {
  background-size: cover;
  background-position: 0% 45%;
  opacity: 85%;
  height: 65vh;
  margin-top: 75px;
}

.location-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 45%;
  width: 100vw;
}
