.main-location-container {
  position: relative;
}

.location-container {
  background-image: url('./denver-skyline.jpeg');
  background-size: cover;
  background-position: 0% 45%;
  opacity: 85%;
  height: 65vh;
  margin-top: 75px;
}

.location-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 45%;
  width: 100vw;
}

.no-favorites {
  align-items: center;
  color: #000000;
  background: rgba(255, 255, 255, 0.95);
  font-size: 3em;
  font-weight: bold;
  border-radius: 5px;
  width: 70%;
  height: 110px;
  font-family: sans-serif;
  display: flex;
  padding-left: 25px;
}
