.location-card {
  background-color: #ffffff;
  width: 35%;
  height: 200px;
  margin: 3%;
  text-align: center;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  cursor: pointer;
  margin: 10% 0;
}

.location-name-address {

}

.location-card-btns {

}

.location-img {
  height: 100%;
  background-size: cover;
  background-position: 0% 45%;
}
