.location-card {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  height: 200px;
  margin: 10% 0;
  margin: 3%;
  text-align: left;
  width: 35%;
}

.location-name-address {
  padding-left: 5%;
}

.location-card-btns {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}

.location-img {
  background-position: 0% 45%;
  background-size: cover;
  height: 100%;
}

.see-listing-btn, .favorite-btn {
  background-color: rgba(2, 111, 183, 0.87);
  border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  outline: none;
  text-transform: uppercase;
}

.see-listing-btn:hover, .favorite-btn:hover {
  background-color: rgba(254, 184, 96, 0.87);
  color: #000000;
}

.see-listing-btn {
  height: 45px;
  left: 25%;
  position: relative;
  width: 150px;
}

.favorite-btn {
  height: 45px;
  position: relative;
  right: 6%;
  width: 120px;
}
