.location-card {
  background-color: #ffffff;
  width: 35%;
  height: 200px;
  margin: 3%;
  text-align: left;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  cursor: pointer;
  margin: 10% 0;
}

.location-name-address {

}

.location-card-btns {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}

.location-img {
  height: 100%;
  background-size: cover;
  background-position: 0% 45%;
}


.see-listing-btn, .favorite-btn {
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 45px;
  background-color: rgba(2, 111, 183, 0.87);
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
}

.see-listing-btn:hover {
  background-color: rgba(254, 184, 96, 0.87);
  color: #000000;
}
