header {
  background-color: #ffffff;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  height: 75px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logo {
  display: block;
  font-size: 45px;
  padding: 0 10px;
  text-transform: uppercase;
}

.logo-left-btns, .right-btn {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}


.header-btns {
  background-color: rgba(2, 111, 183, 0.87);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  height: 45px;
  justify-content: center;
  margin: 0px 20px 0px 0px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
}

.header-btns:hover {
  background-color: rgba(254, 184, 96, 0.87);
  color: #000000;
  text-decoration: none;
}

.header-btns-active {
  background-color:  rgba(254, 184, 96, 0.87);
  border-radius: 10px;
  color: #080808;
  display: flex;
  font-size: 15px;
  height: 45px;
  justify-content: center;
  margin: 0px 20px 0px 0px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
}

h3 {
font-size: 1em;
}
