.area-card {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  height: 50vh;
  margin: 3%;
  overflow-y: scroll;
  text-align: center;
  width: 30%;
}

.area-card:hover {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.85);
}


.area-card h3 {
  margin: 5px;
}

.area-card img {
  padding-top: 25px;
  width: 60px;
}

.area-card p {
  font-size: 15px;
  padding: 0px 25px;
}

.listing-btn {
  background-color: rgba(2, 111, 183, 0.87);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  margin: 0px 20px 0px 0px;
  outline: none;
  text-transform: uppercase;
  width: 120px;
}
