.login-container {
  background-image: url('./background-login.jpeg');
  background-size: cover;
  height: 100vh;
}

.logo-form-container {
  display: flex;
}

.form-container {
  position: relative;
  top: 10%;
}

.login-logo {
  bottom: 13%;
  font-family: 'Roboto Slab', serif;
  font-size: 90px;
  font-weight: bold;
  left: 5%;
  margin: 0px;
  position: relative;
  text-orientation: upright;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.login-form {
  background: rgba(255, 252, 252, 0.95);
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 50% ;
  justify-content: space-around;
  left: 50%;
  padding: 60px 32px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  z-index: 999;
}

.field, .drop-down-field, .login-btn {
  border: none;
  font-family: 'Roboto Slab', serif;
  height: 45px;
  left: 10%;
  margin: 6% 0;
  position: relative;
  top: 2%;
  width: 310px;
}

.field {
  background: rgba(196, 196, 196, 0.80);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.field input {
  background: transparent;
  border: none;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  margin-left: 10px;
  outline: none;
  width: 100%;
}

.drop-down-field {
  background: #FEB860;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  text-align: center;
}

.login-btn {
  background: rgba(2, 111, 183, 0.87);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 25px;
}
